<div class="form-group">
  <label class="col-sm-3 control-label"><%= I18n.t("preservica_data_deleter_job.delete")  %></label>
  <div class="col-sm-9 controls label-only"><%= job['delete'] %></div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label"><%= I18n.t("preservica_data_deleter_job.confirmation_string")  %></label>
  <div class="col-sm-9 controls label-only"><%= job['confirmation_string'] %></div>
</div>
